h1 { 
    font-weight: bold;
  }

  span h1 { 
    font-weight: bold;
    color:blue
  }

  .mi-span h1 {
    color: red; /* Cambia el color del texto a azul /
    font-size: 24px; / Ajusta el tamaño de la fuente /
    text-align: center; / Centra el texto */
  }