<article class="mb-4 flex items-start gap-4 p-4 md:p-5 rounded-2xl bg-indigo-50">
    <div class="flex items-center justify-center size-20 shrink-0 rounded-full">
        <img src="assets/escudo_ud.gif" alt="Escudo UD" class="h-8 w-8 object-contain" />
    </div>
    <div class="py-1.5 md:py-1 space-y-4">
        <p><strong>Bienvenidos al Asistente UD </strong></p>
        <p>Obten respuestas a preguntas sobre la carrera <strong>Ingenieria Telematica</strong> basadas en la documentación del proyecto curricular</p>
    </div>
</article>