<article class="mb-4 flex items-start gap-4 p-4 md:p-5 rounded-2xl bg-indigo-50">
    <div class="flex items-center justify-center size-8 shrink-0 rounded-full bg-indigo-950">
        <svg role="img" height="20" viewBox="0 0 118 118" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#upstash_icon_dark_bg)">
                <path fill-rule="evenodd" d="M25,2C12.304,2,2.012,12.298,2.012,25 c0,11.663,8.677,21.296,19.923,22.796v-4.635c0-1.307-0.824-2.481-2.062-2.897c-6.489-2.181-11.132-8.387-10.961-15.653 c0.208-8.846,7.41-15.8,16.253-15.711C33.977,8.99,41.092,16.164,41.092,25c0,0.828-0.064,1.656-0.189,2.474 c-1.97,12.985-18.874,20.282-18.966,20.322C22.939,47.93,23.961,48,25,48c12.696,0,22.989-10.297,22.989-23S37.696,2,25,2" clip-rule="evenodd"></path>
            </g>
            <defs>
                <clipPath id="upstash_icon_dark_bg">
                    <path fill="#fff" d="M15 0h88v118H15z"></path>
                </clipPath>
            </defs>
        </svg>
    </div>
    <div class="py-1.5 md:py-1 space-y-4">
        <p><strong>Bienvenidos al Asistente UD </strong></p>
        <p>Obten respuestas a preguntas sobre la carrera <strong>Ingenieria Telematica</strong> basadas en la documentación del proyecto curricular</p>
    </div>
</article>